<div class="comment clearfix">
  <div class="comment_content">
    <p class="text-danger"> <strong> <%= comment.name %></strong></p>
  <div class="container">
    <p class="comment_body"><%= comment.body %></p>
    <p class="comment_title"><%= time_ago_in_words(comment.created_at)%> Ago</p>
  </div>

  </div>
    <% if user_signed_in? %>
    <p>
      <%= link_to 'Delete', [comment.post, comment], method: :delete, class: "btn btn-dark btn-sm", data: { confirm: 'are you sure'}%>
    </p>
    <% end %>
</div>
