<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <%= image_tag "willian.jpg"%>
    </div>
    <div class="col-lg-6 col-md-6">
      <h1 class="title"> willian rojas alba</h1>
      <p> Ruby on Rails es un entorno de desarrollo web de código abierto que está optimizado para la satisfacción de los programadores y para la productividad sostenible. Te permite escribir un buen código evitando que te repitas y favoreciendo la convención antes que la configuración.
        "</p>
        <p>Un conjunto de librerías, automatismos y convenciones destinados a resolver los problemas más comunes a la hora de desarrollar una aplicación web, para que el programador pueda concentrarse en los aspectos únicos y diferenciales de su proyecto en lugar de los problemas recurrentes.</p>
    </div>

  </div>
  <div id="content">
  </div>

</div>
