<% @posts.each do |post| %>
  <div class="container">
    <div class="container">
      <h2 class=""><%= link_to post.title, post%></h2>

    <div class="container">
      <p class="data"> hace <%= time_ago_in_words(post.created_at)%>
      <h2 ><%= post.body%></h2>
    </div>
     </p>
   </div>
  </div>
<% end %>
